<div calss="search-form">
    <mat-form-field class="search-input" apprence="outline">
        <mat-label>Enter the post name/title</mat-label>
        <input matInput [(ngModel)] = "name">
        <button mat-button matSuffix color ="primary" (click)="searchByName()"><mat-icon>search</mat-icon></button>
    </mat-form-field>
</div>

<div class="card-container" *ngFor="let item of allPost">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>Posted By: {{item.postBy}} | posted On:{{item.data|date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-grid-list cols="5">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <img mat-card-image [src]="item.img" alt="Photo of a Shiba Inu" class="post-img">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-card-content>
                    {{item.content}}
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>
        <hr>
        <mat-card-actions>
            <button mat-raised-button color="primary">{{item.likeCount}}<mat-icon>thumb_up</mat-icon></button>
            <button mat-raised-button color="warn" style="margin-left: 5px;">{{item.viewCount}}<mat-icon>remove_red_eye</mat-icon></button>
            <button mat-raised-button color="accent" style="margin-left: 5px;" routerLink="/view-post/{{item.id}}">View Post</button>
        </mat-card-actions>
    </mat-card>
</div>